In [3]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
from datetime import timedelta

In [12]:
matrix = [(0, 0, 3, ''),
         (1, 0, 3, ''),
         (2, 1, 2, ''),
         (3, 1, 5, ''),
         (4, 0, 5, '')]

df = pd.DataFrame(matrix, columns=['card_id', 'starred', 'comfort_level', 'next_due'])

df

   card_id  starred  comfort_level next_due
0        0        0              3
1        1        0              3
2        2        1              2
3        3        1              5
4        4        0              5

In [15]:
def leitner_dates(row):

    if (row['starred'] == 0) & (row['comfort_level'] < 5):
        row['comfort_level'] += 1
        row = update_next_due(row)
        
    elif (row['starred'] == 0) & (row['comfort_level'] == 5):
        row = update_next_due(row)
        
    else:
        row['comfort_level'] = 1
        row = update_next_due(row)
    
    return row

def update_next_due(row):
    
    comfort_dict = {1 : 0, 2 : 2, 3 : 4, 4 : 9, 5 : 14}
    
    next_due = dt.now() + timedelta(days=comfort_dict[row['comfort_level']])
    row['next_due'] = next_due.strftime('%m-%d-%Y, %H:%M')
    return row

In [16]:
df.apply(leitner_dates, axis=1)

   card_id  starred  comfort_level           next_due
0        0        0              4  08-07-2020, 23:30
1        1        0              4  08-07-2020, 23:30
2        2        1              1  07-29-2020, 23:30
3        3        1              1  07-29-2020, 23:30
4        4        0              5  08-12-2020, 23:30